
.skin_color {color:rgb(96, 224, 181)}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto' , sans-serif;
  font-size: 16px;
  background: #e9e2e2;
  color: #666;
}
h1, h2, h3 , h4 , h5, h6 {
  font-family: 'Oswald', sans-serif;
}
h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
  background: #ffffff;
  margin-left: 10px;
  
}

a:hover,
a:focus,
a:active{
  color: #fcfefa9b;
  text-decoration: none;
}


main, .site-content {
  background-color: #fcfff9;
  box-shadow: 0 2px 4px 0 black;
  padding: 30px 20px;
}




 .calc-res {
   font-size: 1.2rem;
 }
 .calc-res li {
   margin: 10px 0;
 }

 
